* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.khung {
    max-width: 350px;
    margin: auto;
   
}
.khung .khoidau .img {
    width: 350px;
    height: 300px;
}
.khung .khoidau .doimat {
    position: relative;
    top: -38px;
    width: -17px;
    color: white;
    font-size: 25px;
    background-color: rgba(237, 231, 231,0.2);
    
}